<ion-content class="auth-page" padding>
  <div class="content-inner">
    <div class="info-wrapper" text-center>
      <h1>Welcome</h1>
      <h4>your own future library</h4>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="auth-form">
      <ion-list>
        <ion-item>
          <ion-label>
            <fa-icon name="user"></fa-icon>
          </ion-label>
          <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <span *ngIf="formErrors && formErrors.email" class="error">
          <span ion-text color="danger">{{ formErrors.email }}</span>
        </span>
        <ion-item>
          <ion-label>
            <fa-icon name="lock"></fa-icon>
          </ion-label>
          <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <span *ngIf="formErrors && formErrors.password" class="error">
          <span ion-text color="danger">{{ formErrors.password }}</span>
        </span>
      </ion-list>
      <button ion-button full [disabled]="!form.valid">Log in</button>
      <a class="btn btn-link" text-center (click)="goToRegister()">Or create an account</a>
    </form>
  </div>
</ion-content>
