<ion-header>
  <ion-navbar>
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div text-right class="configs">
      <button icon-only clear *ngIf="!editProfile" (click)="toggleEditProfile()">
        <fa-icon name="cogs" class="icon"></fa-icon>
      </button>
      <div *ngIf="editProfile" class="edit-row">
        <!--<button ion-button clear (click)="saveData()">Сохранить</button>-->
        <ion-title (click)="saveData()">Сохранить</ion-title>
        <button icon-only clear (click)="toggleEditProfile()">
          <fa-icon name="close" class="icon"></fa-icon>
        </button>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile-edit-content" *ngIf="editProfile">
    <info-edit></info-edit>
  </div>
  <div class="profile-info-content" *ngIf="!editProfile">
    <div class="profile-header" padding>
      <div class="profile-basic">
        <img class="profile-picture"
             src="https://s3.amazonaws.com/ionic-io-static/9TxJELnATnW9H3MZZfdG_Profile_avatar_placeholder_large.png">
      </div>
      <h1 class="profile-full-name" text-center>{{user?.fullName}}</h1>
    </div>
    <div class="profile-tab-bar">
      <ion-segment [(ngModel)]="segment">
        <ion-segment-button value="info">
          Профиль
        </ion-segment-button>
        <ion-segment-button value="books">
          Мои Книги
        </ion-segment-button>
        <ion-segment-button value="archive">
          Прочитано
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="segment">
      <div class="segment-wrapper" *ngSwitchCase="'info'">
        <info></info>
      </div>
      <div class="segment-wrapper" *ngSwitchCase="'books'"></div>
      <div class="segment-wrapper" *ngSwitchCase="'archive'"></div>
    </div>
  </div>
</ion-content>
