page-profile {
  .toolbar-content {
    button {
      background-color: transparent;
    }
  }
  .profile-header {
    background: #fff;
    .user-name {
      margin-top: 20px;
    }
    img {
      width: 110px;
      height: 110px;
      margin: 0 auto;
      display: block;
    }
  }
  .profile-tab-bar {
    .segment-button {
      border-radius: 0;
    }
  }
}
.profile-edit-content {
  .item-block {
    padding-left: 0;
  }
  input {
    background-color: #eee;
    padding: 5px 8px;
  }
  .list-item {
    display: flex;
    flex-wrap: wrap;
    li {
      background-color: black;
      color: #fff;
      padding: 6px 8px;
      list-style: none;
      margin: 3px;
      font-size: 13px;
    }
  }
}
